/* base */
html{
    font-size: 1.6rem;
    font-size: 62.5%;
    letter-spacing: 0.1em;
    font-family: Noto Serif;
}

body.noscroll{
    overflow: hidden;
}

body{
    margin: 0;
}
img{
    width: 100%;
    vertical-align: bottom;
}
h1{
    margin: 0;
}

section{
    padding-top: 100px;
    padding-bottom: 70px;
}

.section-inner{
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.section-title{
    font-size: 6.0rem;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto 80px;
    padding: 0 20px;
    max-width: 1000px;
}

.section-title::after{
    content:"";
    display: inline-block;
    background-color:#282F35 ;
    width: 200px;
    height: 5px;
    margin-left: 30px;
    vertical-align: middle;
}

.section-bottom{
    width: 100%;
    max-width: 1200px;
    margin: 70px auto 0px;
    opacity: 0.05;
    font-size: 9rem;
}
.section-btn{
    display: block;
    width: 235px;
    height: 59px;
    line-height: 59px;
    border-radius: 29px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F7D43F;
    box-shadow: 0 0 6px black;
    margin: 0 auto;

}
.section-btn:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.br-pc{
    display: block;
}
.br-sp{
    display: none;
}


/* header */

header{
    padding: 19px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    transition: 0.3s;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    transition: 0.3s;
}

.header-logo{
    color: white;
    font-size: 2.6rem;
    font-style: italic;

}
header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
header a:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.hbg-btn{
    display: none;
}
.nav-list{
    display: flex;
    width: 349px;
    justify-content: space-between;
    font-size: 1.6rem;
    list-style: none;
}
header.fixed{
    position: fixed;
    background-color: #282F35;
    padding: 30px;
    width: 100%;
    transition: 0.3s;
}

/* page-title */
.page-title-wrapper{
    height: 453px;
    background-image: url(../img/contact-page-bgi@2x.jpg);
    background-size: cover;
    background-position:center;
}
.page-title{
    font-size: 6.0rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 186px;
    color: white;
}
.page-title-bottom{
    font-size: 9rem;
    color: white;
    opacity: 0.1;
    margin: 20px 0 0 48px;
}

/* form */
ul{
    padding: 0;
}
.form-list{
    list-style: none;
    max-width: 700px;
    margin: 100px auto 80px;
}
.form-item{
    margin-bottom: 25px;
}
.form-item:last-of-type{
    margin-bottom: 0px;
}
.form-label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.8rem;
}
.checkbox-list{
    list-style: none;
    display: flex;
}
.checkbox-item{
    margin-right: 20px;
}
.checkbox-item label{
    font-size: 1.6rem;
}

.textbox{
    width: 100%;
    line-height: 24px;
}
.textarea{
    width: 100%;
    height: 250px;
    line-height: 24px;
}

.submit-btn{
    display: block;
    width: 235px;
    height: 59px;
    line-height: 59px;
    border-radius: 29px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #F7D43F;
    box-shadow: 0 0 6px rgb(0, 0, 0);
    margin: 0 auto;

}
.submit-btn:hover{
    opacity: 0.7;
    transition: 0.3s;
}

/* footer */
footer{
    height: 79px;
}
footer p{
    text-align: center;
    line-height: 79px;
    font-size: 14px;
    font-weight: bold;
}




/* body_sp */
@media screen and (max-width:768px) {
    section{
        padding-bottom: 40px;
    }
    .section-title{
        font-size: 3.0rem;
        padding: 0 4vw;
    }
    .section-inner{
        padding: 0 4vw;
        flex-direction: column;
        align-items: center;
    }
    .section-title::after{
        width: 90px;
    }
    .section-bottom{
        font-size: 4.0rem
    }
    .br-pc{
        display: none;
    }
    .br-sp{
        display: block;
    }

    /* header_sp */
    header{
        padding: 30px 4vw 0px;
    }

    .header-nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #282F35;
    }
    .nav-list{
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        margin: 0 0 30px;
    }
    .nav-item:last-of-type{
        margin-bottom: 0px;
    }
    .hbg-btn{
        display: block;
        position: absolute;
        top: 30px;
        right: 4vw;
        width: 30px;
        height: 20px;
    }
    .bar{
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
    }
    .bar-top{
        margin-bottom: 7px;
    }
    .bar-bottom{
        margin-top: 7px;
    }

    .hbg-btn.close .bar-top{
        transform: translate(0px,10px) rotate(45deg);
        transition: all 0.3s;
    }      
    .hbg-btn.close .bar-mid{
        transform: scaleX(0);
        transition: all 0.3s;
    }      
    .hbg-btn.close .bar-bottom{
        transform: translate(0px,-10px) rotate(-45deg);
        transition: all 0.3s;
    }      

    /* form_sp */
    .form-wrapper{
        margin: 0 4vw;
    }
    .checkbox-list{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

}
